<footer>
    <div class="container">
        <h6>
            About the authors:
            <a href="https://mrmichael423.github.io/Responsive-Portfolio/" target="blank">Kevin Halstead</a>
            <span>||</span>
            <a href="https://kailers.github.io/Responsive-Portfolio/" target="blank">Kailer Smith</a>
            <span>||</span>
            <a href="https://barrett4467.github.io/" target="blank">Rebecca Barrett</a>
        </h6>
    </div>
</footer>