<footer>
    <footer>
        <div class="container">
            <h6>
                About the authors:
                <a href="https://mrmichael423.github.io/Responsive-Portfolio/">Kevin Halstead</a>
                <span>||</span>
                <a href="https://kailers.github.io/Responsive-Portfolio/" target="blank">Kailer Smith</a>
                <span>||</span>
                <a href="/#">Rebecca Barrett</a>
            </h6>
        </div>
    </footer>
</footer>