<nav class="nav">
    <div class="navContainer">
        <div>
            <h2>Fight Club
            </h2>
        </div>
        <div class="signUp">
            <button id="signUP" onclick='location.href="/signup"'>Sign up</button>
        </div>
        <div class="logIn">
            <button id="logIn" onclick='location.href="/login"'>Login</button>
        </div>
    </div>
</nav>