<nav class="nav">
    <div class="navContainer">
        <div style="flex-grow: 20" class="navHead">
            <h2 onclick='location.href="/"'>Fight Club
            </h2>
        </div>
        <div style="flex-grow: .5" class="signUp">
            <button class="signBtn" onclick='location.href="/signup"'>Sign up</button>
        </div>
        <div style="flex-grow: .5" class="logIn">
            <button class="signBtn" onclick='location.href="/login"'>Login</button>
        </div>
        <div style="flex-grow: .5" class="logoff">
            <button class="signBtn" onclick='location.href="/logout"'>Logoff</button>
        </div>
    </div>
</nav>