<nav class="nav">
    <div class="navContainer">
        <div>
            <h2>Fight Club
            </h2>
        </div>
        <div class="signUp">
            <button id="signUP">Sign up</button>
        </div>
        <div class="logIn">
            <button id="logIn">Login</button>
        </div>
    </div>
</nav>