<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- Link to stylesheet --}}
    <link rel="stylesheet" href="/assets/css/style.css">
    {{!-- Link to fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i&display=swap" rel="stylesheet">
    {{!-- Link to jQuery --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- Link to modals --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <title>Document</title>
</head>

<body>

    {{> nav}}
    {{{body}}}
    {{> footer}}
</body>

{{!-- Link to JS for game --}}
<script src="/assets/js/app.js"></script>

</html>