<div class="main">
    <div class="welcome">
        <h1>WELCOME TO FIGHT CLUB</h1>
        <h2>ONLY RULE IS TO NOT TALK ABOUT FIGHT CLUB</h2>
    </div>
    <div>
        <button class="fight" onclick='location.href="/characters"'>CHOOSE YOUR FIGHTER</button>
    </div>
</div>