<div class="mainContain">
    <h1>LEADERBOARD</h1>
        {{#each leaders}}
            <h2 id="name" data-val="{{name}}">Name: {{name}}</h2>
            <h3 id="score" data-val="{{score}}">Score: {{score}}</h3>
        {{/each}}
    </div>