<form id="signForm" method="POST" action="/signup">
    <div id="formContainer">
        <h3>Please input your email and choose a password below</h3>
        <div class="formGroup">
            <label for="email">Email:</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="email@domain.com">
        </div>
        <div class="formGroup">
            <label for="password">Password:</label>
            <input name="password" type="password" class="form-control" id="password">
        </div>
        <button id="signBtn" type="submit">Sign up</button>
    </div>
</form>